
.phone{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:auto;
	height:auto;
}

body{	
	font-family: "Comic Sans MS", cursive, sans-serif ;
	background-color:#E6E6FA;
	
}

.tittle{
	font-style:bold;
	background-color:#008080;
	padding:2%;
	color:white;
	text-align:center;
	text-shadow:10px 10px 10px  #7B7D7D;
}

.description{
		margin:3%;
		margin-top:2%;
		padding:1em;
		text-align:center;
		line-height:33px;
}

nav{
    background-color: #333;
    overflow: hidden;

}
nav a {
	margin-left:11%;
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
		background-color:white;
		color:red;
	
}


footer{
	margin-top:4%;
	background-color:white;
	opacity:.5;
	padding: 0px;
	text-align:center;	
}


.phoneparts{	
	margin: 3%;
	text-align:center;

	
}
#structure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#iPhone6plus, #iPhone6splus, #iPhone8plus, #iPhone7plus,#iPhone6, #iPhone6s, #iPhone8, #iPhone7{
	
	display:inline-block;
	
}

.phoneParts li{
	list-style-type: none;
}

li a:visited{
	color:blue;
}

#computerBanner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
	padding: 5%;
}

.ComputerRepairs{
			text-align:center;		
}


.Virus, .parts {
	display:inline-block;	
	margin: 3%;
	margin-left: auto;
    margin-right: auto;
	padding: 5%;
	width:25%;
}


.OS{

}


